[submodule "rmcs_ws/src/fast_tf"]
	path = rmcs_ws/src/fast_tf
	url = https://github.com/JinGangRobo/FastTF
[submodule "rmcs_ws/src/rmcs_auto_aim_v2"]
	path = rmcs_ws/src/rmcs_auto_aim_v2
	url = https://github.com/JinGangRobo/rmcs_auto_aim_v2.git
